<template>
  <div v-if="this.$store.getters.getDeveloper.id != null" id="container">
    <p id="name">{{ this.$store.getters.getDeveloper.name }}</p>
    <div id="games">
      <div id="gamelist">
        <router-link
          :to="{ path: '/game/' + game.id }"
          v-bind:tooltip="game.id"
          append
          class="gamelistcontainer"
          v-for="game in this.$store.getters.getDeveloper.basicGames.games"
          :key="game.id"
        >
          <img class="coverart" v-if="game.cover != null" :src="game.cover" />
          <img class="coverart" v-else src="@/assets/noimgyet.jpg" />
          <p class="gametext">{{ game.name }}</p>
          <p class="release">{{ game.released }}</p>
          <p class="score">{{ game.averageRating }}</p>
        </router-link>
        <p></p>
      </div>
    </div>
    <div id="pagecontainer">
      <p v-if="this.$store.getters.getDeveloper.basicGames.count !== 0">
        Page:
      </p>
      <ul id="pages">
        <li
          @click="
            sendRequest(page);
            scrollToTop();
          "
          class="page"
          :class="{ activePage: getCurrentPage(page) }"
          v-for="page in getPages"
          :key="page"
        >
          {{ page }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import DeveloperDetailed from "@/action/httprequests/developers/DeveloperDetailed";
export default {
  name: "Developer",
  data() {
    return {
      currentPage: 1
    };
  },
  methods: {
    sendRequest(paramPage) {
      DeveloperDetailed.methods.getDeveloper(
        this.$route.params.developerId,
        paramPage,
        20
      );
      this.currentPage = paramPage;
    },
    getCurrentPage(page) {
      return this.currentPage === page;
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    }
  },
  computed: {
    getPages: function() {
      return (
        parseInt(this.$store.getters.getDeveloper.basicGames.count / 20) +
        parseInt(
          this.$store.getters.getDeveloper.basicGames.count % 20 === 0 ? 0 : 1
        )
      );
    }
  },
  mounted() {
    this.sendRequest(1);
  }
};
</script>

<style scoped>
#container {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-content: center;
}

#name {
  font-size: 2vw;
  color: #42b983;
}

#games {
  height: 610px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#gamelist {
  width: 100%;
  justify-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

.gamelistcontainer {
  text-decoration: none;
  background-color: #252537;
  margin-bottom: 10px;
  height: 80px;
  display: flex;
}
.coverart {
  height: 80px;
  width: 170px;
}
.gametext,
.release,
.score {
  color: ghostwhite;
  align-self: center;
  padding-left: 20px;
}

#pagecontainer {
  justify-content: center;
}

#pages {
  padding: 0;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
  list-style-type: none;
  color: ghostwhite;
}

.page {
  cursor: pointer;
  margin-left: 7px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page:hover {
  text-shadow: 0 0 5px #ffffff;
}

.activePage {
  text-shadow: 0 0 5px #ffffff;
}
</style>
