<template>
  <div id="followed">
    <div
      class="gamelistcontainer"
      v-for="(game, index) in getFollowed"
      :key="game.id"
    >
      <router-link
        :to="{ path: '/game/' + game.id }"
        v-bind:tooltip="game.id"
        append
      >
        <img class="coverart" v-if="game.cover != null" :src="game.cover" />
        <img class="coverart" v-else src="@/assets/noimgyet.jpg" />
      </router-link>
      <p class="gametext">{{ game.name }}</p>
      <p class="release">{{ game.released }}</p>
      <button id="followbutton" @click="unfollow(game.id, index)">
        Unfollow
      </button>
    </div>
  </div>
</template>

<script>
import GetFollowed from "@/action/httprequests/users/GetFollowed";
import DeleteFollowed from "@/action/httprequests/games/DeleteFollowed";
export default {
  name: "Followed",
  mounted() {
    this.getFollowedGames();
  },
  computed: {
    getFollowed() {
      return this.$store.getters.getFollowed;
    }
  },
  methods: {
    unfollow(gameId) {
      DeleteFollowed.methods.unfollow(gameId).then(status => {
        if (status === 200) {
          this.getFollowedGames();
        }
      });
    },
    getFollowedGames() {
      GetFollowed.methods.getFollowed();
    }
  }
};
</script>

<style scoped>
#followed {
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gamelistcontainer {
  width: 40%;
  text-decoration: none;
  position: relative;
  background-color: #252537;
  margin-bottom: 10px;
  height: 80px;
  display: flex;
}

.coverart {
  height: 80px;
  width: 170px;
}
.gametext,
.release {
  color: ghostwhite;
  align-self: center;
  padding-left: 20px;
}

#followbutton {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 40px;
  cursor: pointer;
  width: 100px;
  border: none;
  outline: none;
  color: white;
  background-color: #42b983;
  border-radius: 1px;
}
</style>
