<template>
  <div
    id="container"
    v-if="
      this.$store.getters.getGameReviews.count != null &&
        this.$store.getters.getGameDetails.name !== null
    "
  >
    <div id="gamesidecontainer">
      <p id="title">{{ this.$store.getters.getGameDetails.name }}</p>
      <img
        class="cover"
        v-if="this.$store.getters.getGameDetails.cover != null"
        :src="this.$store.getters.getGameDetails.cover"
      />
      <img class="cover" v-else src="@/assets/noimgyet.jpg" />
      <br />
      <button class="buttons" @click="follow">FOLLOW</button>
      <p class="gametext">About the game:</p>
      <p
        id="description"
        v-html="this.$store.getters.getGameDetails.description"
      ></p>
      <br />
      <br />
      <h3 id="reviewbigtext">Reviews</h3>
      <div id="addreview">
        <textarea
          id="reviewtext"
          type="text"
          v-model="review"
          maxlength="1000"
        ></textarea>
        <p>Rating:</p>
        <vue-slider
          id="reviewscore"
          v-model="stars"
          width="500px"
          height="5px"
          :min="1"
          :max="10"
        ></vue-slider>
        <button class="buttons" @click="addReview">Add review</button>
      </div>
      <div id="reviewscontainer">
        <div
          class="reviews"
          v-for="review in this.$store.getters.getGameReviews.reviews"
          :key="review.user"
        >
          <div id="reviewleft">
            <p id="user" class="sameline">User:</p>
            <p id="revuser" class="reviewtxt sameline">{{ review.user }}</p>
            <p id="rating" class="sameline">Rating:</p>
            <p id="revscore" class="reviewtxt sameline">
              {{ review.stars }}/10
            </p>
          </div>
          <br />
          <p class="reviewtxt">{{ review.review }}</p>
        </div>
      </div>
      <div id="pagecontainer">
        <p v-if="this.$store.getters.getGameReviews.count !== 0">Page:</p>
        <ul id="pages">
          <li
            @click="
              getReviews(page);
              scrollToTop();
            "
            class="page"
            :class="{ activePage: getCurrentPage(page) }"
            v-for="page in getPages"
            :key="page"
          >
            {{ page }}
          </li>
        </ul>
      </div>
    </div>
    <div id="sidebarcontainer">
      <br />
      <br />
      <p class="sidebartext sameline">Release date:</p>
      <p
        v-if="!this.$store.getters.getGameDetails.tba"
        class="rendertext sameline"
      >
        {{ this.$store.getters.getGameDetails.released }}
      </p>
      <p
        v-if="this.$store.getters.getGameDetails.tba"
        class="rendertext sameline"
      >
        To be announced.
      </p>
      <br />
      <br />
      <br />

      <br />
      <p class="sidebartext sameline">User score:</p>
      <p
        v-if="this.$store.getters.getGameReviews.count !== 0"
        class="rendertext sameline"
      >
        {{ this.$store.getters.getGameDetails.averageRating }} / 10 ({{
          this.$store.getters.getGameReviews.count
        }})
      </p>
      <p class="sameline rendertext" v-else>No user reviews yet</p>
      <br />
      <br />
      <br />

      <p class="sidebartext">Developers:</p>
      <p class="devlink" v-if="this.$store.getters.getGameDetails.developers.length === 0"> No developer found </p>
      <router-link
        class="devlink"
        :to="{ path: '/developer/' + developer.id }"
        v-bind:tooltip="developer.id"
        append
        v-for="developer in this.$store.getters.getGameDetails.developers"
        :key="developer.id"
      >
        <p>{{ developer.name }}</p>
      </router-link>
      <br />
      <p class="sidebartext">Publishers:</p>
      <p class="publink" v-if="this.$store.getters.getGameDetails.publishers.length === 0"> No publisher found </p>
      <router-link
        class="publink"
        :to="{ path: '/publisher/' + publisher.id }"
        v-bind:tooltip="publisher.id"
        append
        v-for="publisher in this.$store.getters.getGameDetails.publishers"
        :key="publisher.id"
      >
        <p>{{ publisher.name }}</p>
      </router-link>
      <br />
      <p class="sidebartext">Genres:</p>
      <p
        class="sameline rendertext"
        v-for="genre in this.$store.getters.getGameDetails.genres"
        :key="genre.id"
      >
        {{ genre.name }}
      </p>
      <br />
      <br />
      <p class="sidebartext">Stores:</p>
      <div
        v-if="this.$store.getters.getGameDetails.stores.length > 0"
        id="stores"
      >
        <a
          target="_blank"
          v-for="store in this.$store.getters.getGameDetails.stores"
          :key="store.id"
          :href="store.url"
          ><img id="storelogo" :src="store.logo"
        /></a>
      </div>
      <p
        v-if="this.$store.getters.getGameDetails.stores.length === 0"
        id="nostores"
      >
        Not available in any stores yet
      </p>
    </div>
  </div>
</template>

<script>
import GameDetails from "@/action/httprequests/games/GameDetails";
import AddFollowed from "@/action/httprequests/games/AddFollowed";
import ReviewsByGame from "@/action/httprequests/games/ReviewsByGame";
import AddReview from "@/action/httprequests/reviews/AddReview";
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/default.css";
export default {
  name: "Game",
  components: {
    VueSlider
  },
  data() {
    return {
      currentPage: 1,
      cover: "",
      review: "",
      stars: 5
    };
  },
  methods: {
    follow() {
      AddFollowed.methods.follow(this.$route.params.gameId);
    },
    getReviews(page) {
      ReviewsByGame.methods.getGameReviews(this.$route.params.gameId, page, 10);
      this.currentPage = page;
    },
    getCurrentPage(page) {
      return this.currentPage === page;
    },
    addReview() {
      if (this.review !== "") {
        AddReview.methods
          .addReview(this.review, this.stars, this.$route.params.gameId)
          .then(status => {
            if (status === 200) {
              this.getReviews(1);
            }
          });
      }
    },
    scrollToTop() {
      window.scrollTo(0, 900);
    }
  },
  computed: {
    getPages: function() {
      return (
        parseInt(this.$store.getters.getGameReviews.count / 10) +
        parseInt(this.$store.getters.getGameReviews.count % 10 === 0 ? 0 : 1)
      );
    }
  },
  mounted() {
    GameDetails.methods.getGame(this.$route.params.gameId);
    this.getReviews(1);
  }
};
</script>

<style scoped>
#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
}
#gamesidecontainer {
  width: 70%;
}
#sidebarcontainer {
  margin-top: 20px;
  width: 27%;
  background-color: #252537;
  height: 650px;
}

#reviewbigtext {
  color: #42b983;
}

.buttons {
  cursor: pointer;
  width: 100px;
  height: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: #42b983;
  border-radius: 1px;
}

.rendertext {
  color: ghostwhite;
}

.sidebartext {
  color: #42b983;
}

#reviewscontainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  word-wrap: break-word;
}

.sameline {
  padding-right: 10px;
  display: inline;
}

#reviewleft {
  float: left;
  margin-left: 20px;
}

#title {
  color: ghostwhite;
  font-size: 1.7vw;
}

.cover {
  height: 500px;
  width: auto;
}

.devlink,
.publink {
  color: ghostwhite;
  text-decoration: none;
}

#reviewtext {
  resize: none;
  width: 800px;
  height: 200px;
}

.gametext {
  color: ghostwhite;
  font-size: 1.2vw;
}

#description,
#nostores {
  color: ghostwhite;
}

.publink:hover,
.devlink:hover {
  text-shadow: 0 0 5px #ffffff;
}

.reviews {
  margin-top: 10px;
  background-color: #252537;
  width: 70%;
  height: auto;
}

.reviewtxt {
  color: ghostwhite;
  word-wrap: break-word;
}

#storelogo {
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

#addreview {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#revscore {
  font-size: 1vw;
  color: ghostwhite;
}

#rating,
#user {
  font-size: 1vw;
  color: #42b983;
}

#revuser {
  font-size: 1vw;
  color: ghostwhite;
  margin-right: 10px;
}

#pagecontainer {
  justify-content: center;
}

#pages {
  padding: 0;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
  list-style-type: none;
  color: ghostwhite;
}

.page {
  cursor: pointer;
  margin-left: 7px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page:hover {
  text-shadow: 0 0 5px #ffffff;
}

.activePage {
  text-shadow: 0 0 5px #ffffff;
}
</style>
