<template>
  <div id="container">
    <p class="boxtext">TOP RATED GAMES</p>
    <div id="toprated">
      <router-link
          :to="{ path: '/game/' + toprated.id }"
          v-bind:tooltip="toprated.id"
          append
          class="popularcontainer"
          v-for="toprated in this.$store.getters.getTopRated"
          :key="toprated.id"
      >
        <img class="cover" v-if="toprated.cover != null" :src="toprated.cover" />
        <img class="cover" v-else src="@/assets/noimgyet.jpg" />
        <p class="name">{{ toprated.name }}</p>
      </router-link>
    </div>
    <p class="boxtext">MOST FOLLOWED GAMES</p>
    <div id="popular">
      <router-link
        :to="{ path: '/game/' + popular.id }"
        v-bind:tooltip="popular.id"
        append
        class="popularcontainer"
        v-for="popular in this.$store.getters.getMostFollowed"
        :key="popular.id"
      >
        <img class="cover" v-if="popular.cover != null" :src="popular.cover" />
        <img class="cover" v-else src="@/assets/noimgyet.jpg" />
        <p class="name">{{ popular.name }}</p>
      </router-link>
    </div>
    <p class="boxtext">RELEASING SOON</p>
    <div id="releasingsoon">
      <router-link
        :to="{ path: '/game/' + soon.id }"
        v-bind:tooltip="soon.id"
        append
        class="sooncontainer"
        v-for="soon in this.$store.getters.getReleasing"
        :key="soon.id"
      >
        <img class="cover" v-if="soon.cover != null" :src="soon.cover" />
        <img class="cover" v-else src="@/assets/noimgyet.jpg" />
        <p class="name">{{ soon.name }}</p>
      </router-link>
    </div>
  </div>
</template>

<script>
import ReleasingSoon from "@/action/httprequests/games/ReleasingSoon";
import MostFollowed from "@/action/httprequests/games/MostFollowed";
import TopRated from "@/action/httprequests/games/TopRated";
export default {
  name: "Homepage",
  data() {
    return {
      games: ""
    };
  },
  mounted() {
    TopRated.methods.getTopRated();
    ReleasingSoon.methods.getReleasing();
    MostFollowed.methods.getMostFollowed();
  }
};
</script>
<style scoped>
#container {
  display: flex;
  flex-direction: column;
  width: 99%;
}

#popular,
#releasingsoon,
#toprated{
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px;
  height: auto;
  width: 100%;
}

.name {
  color: ghostwhite;
}

.cover {
  height: 150px;
  width: 225px;
}

.sooncontainer {
  text-decoration: none;
}

.popularcontainer {
  text-decoration: none;
}

.boxtext{
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
}
</style>
