<template>
  <div id="wrapper">
    <div
      id="notifications"
      v-if="getNotifications !== `emptied` && getNotifications.count > 0"
    >
      <button id="removenotifications" @click="removeNotifications">
        Remove Notifications
      </button>
      <div
        class="gamelistcontainer"
        v-for="game in getNotifications.games"
        :key="game.id"
      >
        <router-link
          :to="{ path: '/game/' + game.id }"
          v-bind:tooltip="game.id"
          append
        >
          <img class="coverart" v-if="game.cover != null" :src="game.cover" />
          <img class="coverart" v-else src="@/assets/noimgyet.jpg" />
        </router-link>
        <p class="gametext">{{ game.name }}</p>
        <p class="release">{{ game.released }}</p>
        <p id="message">
          Coming out tomorrow!
        </p>
      </div>
    </div>
    <div v-if="getNotifications === null || !getNotifications.count > 0">
      <h2 id="nonotifications">No new notifications</h2>
    </div>
  </div>
</template>

<script>
import ClearNotifications from "@/action/httprequests/users/ClearNotifications";
import GetNotifications from "@/action/httprequests/users/GetNotifications";
export default {
  name: "Notifications",
  computed: {
    getNotifications() {
      return this.$store.getters.getNotifications;
    }
  },
  methods: {
    removeNotifications() {
      ClearNotifications.methods.clearNotifications();
      GetNotifications.methods.getNotifications();
    }
  }
};
</script>

<style scoped>
#wrapper {
  width: 100%;
}

#notifications {
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#removenotifications {
  cursor: pointer;
  width: 400px;
  height: 65px;
  font-size: 200%;
  border: none;
  outline: none;
  color: white;
  background-color: #a90018;
  border-radius: 1px;
  margin-bottom: 10px;
}

.gamelistcontainer {
  width: 40%;
  text-decoration: none;
  position: relative;
  background-color: #252537;
  margin-bottom: 10px;
  height: 80px;
  display: flex;
}

.coverart {
  height: 80px;
  width: 170px;
}
.gametext,
.release,
#message {
  color: ghostwhite;
  align-self: center;
  padding-left: 20px;
}

#message {
  margin-left: 50px;
  padding-top: 20px;
  padding-right: 10px;
  width: 200px;
  height: 40px;
  position: relative;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: #42b983;
  border-radius: 1px;
}

#nonotifications {
  color: white;
}
</style>
