<template>
  <div id="profile" v-if="this.$store.getters.getUserReviews.reviews">
    <div class="profiledisplay">
      <h3 class="name">Hello!</h3>
      <p class="fetchedtext">{{ getUser.login }}</p>
    </div>
    <div class="profiledisplay">
      <h3 class="name">E-mail:</h3>
      <p class="fetchedtext">{{ getUser.email }}</p>
    </div>
    <div id="changepass">
      <form autocomplete="off">
        <input
          type="password"
          autocomplete="current-password"
          placeholder="Old password"
          class="changeinput"
          v-model="oldPassword"
          required
        />
        <br />
        <input
          type="password"
          autocomplete="new-password"
          placeholder="New password"
          class="changeinput"
          v-model="newPassword"
          required
        />
      </form>
      <button class="buttons" @click="changePassword">Change password</button>
    </div>
    <div id="changeemail">
      <form>
        <input
          type="password"
          autocomplete="current-password"
          placeholder="Old password"
          class="changeinput"
          v-model="oldMailPass"
          required
        />
        <br />
        <input
          type="email"
          placeholder="New e-mail"
          :class="{ unavailable: this.emailRed, available: this.emailGreen }"
          class="changeinput"
          v-model="newEmail"
          required
        />
      </form>
      <button class="buttons" @click="changeEmail">Change e-mail</button>
      <p class="msg" v-if="this.isEmailAvailable !== null">
        {{ this.isEmailAvailable }}
      </p>
    </div>
    <br />
    <h3 class="name">Reviews</h3>
    <div id="reviewscontainer">
      <div class="reviews" v-for="review in getReviews" :key="review.game">
        <router-link
          :to="{ path: '/game/' + review.gameId }"
          v-bind:tooltip="review.gameId"
          append
        >
          <img
            class="coverart"
            v-if="review.gameCover != null"
            :src="review.gameCover"
          />
          <img class="coverart" v-else src="@/assets/noimgyet.jpg" />
        </router-link>
        <p class="notreviewthumb">{{ review.game }}</p>
        <p class="notreviewthumb sameline">Rating:</p>
        <p id="rating" class="sameline">{{ review.stars }} / 10</p>
        <p>{{ review.review }}</p>
        <button
          id="deletereview"
          class="buttons"
          @click="deleteReview(review.gameId)"
        >
          Delete
        </button>
      </div>
    </div>
    <div id="pagecontainer">
      <p v-if="this.$store.getters.getUserReviews.count !== 0">Page:</p>
      <ul id="pages">
        <li
          @click="
            fetchReviews(page);
            scrollToTop();
          "
          class="page"
          :class="{ activePage: getCurrentPage(page) }"
          v-for="page in getPages"
          :key="page"
        >
          {{ page }}
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import GetProfileData from "@/action/httprequests/users/GetProfileData";
import ChangePassword from "@/action/httprequests/users/ChangePassword";
import ChangeEmail from "@/action/httprequests/users/ChangeEmail";
import ReviewsByUser from "@/action/httprequests/users/ReviewsByUser";
import DeleteReview from "@/action/httprequests/reviews/DeleteReview";
import CheckEmail from "@/action/httprequests/users/CheckEmail";
import _ from "lodash";

export default {
  name: "Profile",
  data() {
    return {
      currentPage: 1,
      profile: "",
      oldPassword: "",
      newPassword: "",
      oldMailPass: "",
      newEmail: "",
      isEmailAvailable: null,
      emailGreen: false,
      emailRed: false
    };
  },
  methods: {
    getProfile() {
      GetProfileData.methods.getProfileData();
    },
    changeEmail() {
      if (this.oldMailPass !== "" && this.newEmail !== "" && this.emailGreen) {
        ChangeEmail.methods
          .changeEmail(this.oldMailPass, this.newEmail)
          .then(status => {
            if (status === 200) {
              this.getProfile();
            }
          });
      }
    },
    changePassword() {
      if (this.oldPassword !== "" && this.newPassword !== "") {
        ChangePassword.methods.changePassword(
          this.oldPassword,
          this.newPassword
        );
      }
    },
    fetchReviews(page) {
      ReviewsByUser.methods.getUserReviews(page, 10);
      this.currentPage = page;
    },
    deleteReview(gameId) {
      DeleteReview.methods.deleteReview(gameId).then(status => {
        if (status === 200) {
          this.fetchReviews(1);
        }
      });
    },
    getCurrentPage(page) {
      return this.currentPage === page;
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    },
    checkEmail() {
      if (this.newEmail !== null && this.newEmail.length > 0) {
        CheckEmail.methods.checkEmail(this.newEmail).then(response => {
          if (response) {
            this.isEmailAvailable = "Email available";
            this.emailRed = false;
            this.emailGreen = true;
          } else {
            this.isEmailAvailable = "Email unavailable";
            this.emailGreen = false;
            this.emailRed = true;
          }
        });
      }
    },
    debouncedCheckEmail: _.debounce(function() {
      this.checkEmail();
    }, 500)
  },
  watch: {
    newEmail: function() {
      if (this.newEmail.length === 0) {
        this.emailGreen = false;
        this.emailRed = false;
        this.isEmailAvailable = null;
      }
      this.debouncedCheckEmail();
    }
  },
  computed: {
    getPages: function() {
      return (
        parseInt(this.$store.getters.getUserReviews.count / 10) +
        parseInt(this.$store.getters.getUserReviews.count % 10 === 0 ? 0 : 1)
      );
    },
    getUser() {
      return this.$store.getters.getCurrentUser;
    },
    getReviews() {
      return this.$store.getters.getUserReviews.reviews;
    }
  },
  mounted() {
    this.fetchReviews(1);
    this.getProfile();
  }
};
</script>

<style scoped>
p {
  color: ghostwhite;
}

.name {
  color: #42b983;
}

#profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changeinput {
  margin-top: 10px;
  width: 150px;
  height: 25px;
}

#changeemail,
#changepass {
  border-radius: 3px;
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #252537;
  justify-self: center;
  width: 400px;
}

.profiledisplay {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.reviews {
  margin-top: 20px;
  background-color: #252537;
  width: 100%;
  height: auto;
}

#reviewscontainer {
  display: flex;
  width: 800px;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  word-wrap: break-word;
}

.fetchedtext {
  margin-left: 15px;
  font-size: 19px;
}

.buttons {
  cursor: pointer;
  width: 120px;
  height: 30px;
  border: none;
  outline: none;
  color: white;
  background-color: #42b983;
  border-radius: 1px;
  margin-top: 10px;
}

#deletereview {
  bottom: 10px;
  float: right;
}
.sameline {
  display: inline;
}

.coverart {
  float: left;
  height: 161px;
  width: 300px;
}

.notreviewthumb {
  color: #42b983;
}

#rating {
  margin-left: 10px;
}

.unavailable {
  box-shadow: 0 0 10px #ab0000;
}

.available {
  box-shadow: 0 0 10px #2bb12b;
}

#pagecontainer {
  justify-content: center;
}

#pages {
  padding: 0;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
  list-style-type: none;
  color: ghostwhite;
}

.page {
  cursor: pointer;
  margin-left: 7px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page:hover {
  text-shadow: 0 0 5px #ffffff;
}

.activePage {
  text-shadow: 0 0 5px #ffffff;
}
</style>
