<template>
  <div v-if="this.$store.getters.getGames.count != null" id="container">
    <p>{{ this.$store.getters.getCount }}</p>
    <div id="games">
      <div id="gamelist">
        <router-link
          :to="{ path: '/game/' + game.id }"
          v-bind:tooltip="game.id"
          append
          class="gamelistcontainer"
          v-for="game in this.$store.getters.getGames.games"
          :key="game.id"
        >
          <img class="coverart" v-if="game.cover != null" :src="game.cover" />
          <img class="coverart" v-else src="@/assets/noimgyet.jpg" />
          <p class="gametext">{{ game.name }}</p>
          <p class="release" v-if="!game.tba">{{ game.released }}</p>
          <p class="release" v-else>TBA</p>
          <p v-if="game.averageRating !== 0" class="score">
            {{ game.averageRating }}
          </p>
        </router-link>
        <p></p>
      </div>
      <div id="menucontainer">
        <p class="filtertext">Genres:</p>
        <label
          class="inputbox"
          v-for="genre in this.$store.getters.getGenres"
          :key="genre.id"
        >
          <input @click="addGenre(genre.id)" type="checkbox" />
          {{ genre.name }}
        </label>
        <p class="filtertext">Stores:</p>
        <label
          class="inputbox"
          v-for="store in this.$store.getters.getStores"
          :key="store.id"
        >
          <input @click="addStore(store.id)" type="checkbox" />
          {{ store.name }}
        </label>
        <p class="filtertext">Exclude:</p>
        <label class="inputbox">
          <input @click="setTba" type="checkbox" />
          Exclude TBA
        </label>
        <label class="inputbox">
          <input @click="setExcludeReleased" type="checkbox" />
          Exclude released
        </label>
      </div>
    </div>
    <div id="pagecontainer">
      <p v-if="this.$store.getters.getGames.count !== 0">Page:</p>
      <ul id="pages">
        <li
          @click="
            sendSearchRequest(page);
            scrollToTop();
          "
          class="page"
          :class="{ activePage: getCurrentPage(page) }"
          v-for="page in getPages"
          :key="page"
        >
          {{ page }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import GamesPaged from "@/action/httprequests/games/GamesPaged";
import GetGenres from "@/action/httprequests/genres/GetGenres";
import GetStores from "@/action/httprequests/stores/GetStores";
export default {
  name: "Search",
  data() {
    return {
      currentPage: 1,
      genres: [],
      stores: [],
      tba: "",
      excludeReleased: "",
      paramObj: {
        genres: "",
        stores: "",
        tba: "",
        excludeReleased: ""
      }
    };
  },
  beforeRouteLeave(to, from, next) {
    if (from.path === "/search") {
      const clearParams = {
        genres: "",
        stores: "",
        tba: "",
        excludeReleased: ""
      };
      this.$store.dispatch("setParamObj", clearParams);
      next();
    } else {
      next();
    }
  },
  computed: {
    getPages: function() {
      return (
        parseInt(this.$store.getters.getGames.count / 20) +
        parseInt(this.$store.getters.getGames.count % 20 === 0 ? 0 : 1)
      );
    }
  },
  mounted() {
    GetGenres.methods.getGenres();
    GetStores.methods.getStores();
  },
  methods: {
    sendSearchRequest(paramPage) {
      GamesPaged.methods.getGames(
        paramPage,
        20,
        this.$route.query.query,
        this.genres.join(","),
        this.stores.join(","),
        this.tba.toString(),
        this.excludeReleased
      );
      this.currentPage = paramPage;
    },
    getCurrentPage(page) {
      return this.currentPage === page;
    },
    addGenre(genreId) {
      if (this.genres.includes(genreId)) {
        this.genres = this.genres.filter(id => id !== genreId);
      } else {
        this.genres.push(genreId);
      }
      this.paramObj.genres = this.genres;
      this.dispatchParams();
      this.sendSearchRequest(1);
    },
    addStore(storeId) {
      if (this.stores.includes(storeId)) {
        this.stores = this.stores.filter(id => id !== storeId);
      } else {
        this.stores.push(storeId);
      }
      this.paramObj.stores = this.stores;
      this.dispatchParams();
      this.sendSearchRequest(1);
    },
    setTba() {
      this.tba = this.tba === "" ? false : "";
      this.paramObj.tba = this.tba;
      this.dispatchParams();
      this.sendSearchRequest(1);
    },
    setExcludeReleased() {
      this.excludeReleased = this.excludeReleased === "" ? true : "";
      this.paramObj.excludeReleased = this.excludeReleased;
      this.dispatchParams();
      this.sendSearchRequest(1);
    },
    dispatchParams() {
      this.$store.dispatch("setParamObj", this.paramObj);
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    }
  }
};
</script>

<style scoped>
#container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#games {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

#menucontainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #252537;
  width: 28%;
  height: 750px;
}

#gamelist {
  width: 50%;
  margin-left: 50px;
}

.filtertext {
  color: #42b983;
  font-size: 1.1vw;
}

.gamelistcontainer {
  text-decoration: none;
  background-color: #252537;
  margin-bottom: 10px;
  height: 80px;
  display: flex;
}
.coverart {
  height: 80px;
  width: 170px;
}
.gametext,
.release,
.score {
  color: ghostwhite;
  align-self: center;
  padding-left: 40px;
}

.inputbox {
  color: ghostwhite;
  margin-left: 90px;
  transform: scale(1.4);
}

#pagecontainer {
  justify-content: center;
}

#pages {
  padding: 0;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
  list-style-type: none;
  color: ghostwhite;
}

.page {
  cursor: pointer;
  margin-left: 7px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page:hover {
  text-shadow: 0 0 5px #ffffff;
}

.activePage {
  text-shadow: 0 0 5px #ffffff;
}
</style>
