<template>
  <div id="menuContainer">
    <router-link
      to="/profile"
      class="menubuttons"
      @click.native="closeAccountMenu"
      >Profile</router-link
    >
    <br />
    <p
      class="menubuttons"
      id="logoutbutton"
      @click="
        closeAccountMenu();
        logout();
      "
    >
      Log out
    </p>
  </div>
</template>

<script>
import Logout from "@/action/httprequests/jwt/Logout.js";
import router from "@/router";
export default {
  name: "AccountMenu",
  data() {
    return {
      registerTab: false
    };
  },
  methods: {
    closeAccountMenu() {
      this.$emit("closeAccountMenu");
    },
    logout() {
      Logout.methods.logout().then(router.push("/"));
    }
  }
};
</script>

<style scoped>
#menuContainer {
  flex-direction: column;
  position: absolute;
  display: flex;
  top: 65px;
  right: 0;
  margin-right: 2%;
  height: 70px;
  width: 150px;
  background-color: white;
  border-radius: 3px;
}

.menubuttons {
  color: black;
  text-decoration: none;
  font-size: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-self: center;
  align-self: center;
}

#logoutbutton {
  cursor: pointer;
}
</style>
