<script>
import ModalLoginPage from "@/components/ModalLoginPage";
import ModalRegisterPage from "@/components/ModalRegisterPage";
export default {
  name: "modal",
  components: {
    ModalLoginPage,
    ModalRegisterPage
  },
  data() {
    return {
      loginTab: true,
      registerTab: false
    };
  },
  methods: {
    closeModal() {
      this.$store.dispatch("setModalState", false);
    },
    closeRegister() {
      (this.loginTab = true), (this.registerTab = false);
    },
    closeLogin() {
      (this.registerTab = true), (this.loginTab = false);
    }
  }
};
</script>

<template>
  <transition name="modal-fade">
    <div class="modal-backdrop" v-on:click.self="closeModal">
      <div class="modal" role="dialog">
        <div class="closeTab">
          <span @click="closeModal" class="close">&times;</span>
        </div>
        <div class="modalNav">
          <p
            class="tabButton"
            v-bind:class="{ activeTab: loginTab }"
            @click="closeRegister"
          >
            LOG IN
          </p>
          <p
            class="tabButton"
            v-bind:class="{ activeTab: registerTab }"
            @click="closeLogin"
          >
            SIGN UP
          </p>
        </div>
        <ModalLoginPage v-if="loginTab"> </ModalLoginPage>
        <ModalRegisterPage v-if="registerTab"> </ModalRegisterPage>
      </div>
    </div>
  </transition>
</template>
<style scoped>
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 330px;
  height: 550px;
  background-color: #252537;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
}

.modalNav {
  width: 100%;
  height: 10%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tabButton {
  font-family: "Roboto", sans-serif;
  font-size: 150%;
  padding-left: 8%;
  padding-right: 8%;
  color: white;
}

.tabButton:hover,
tabButton:focus {
  text-shadow: 0 0 3px #ffffff;
  cursor: pointer;
}

.closeTab {
  width: 100%;
  height: 36px;
  position: relative;
}

.close {
  position: absolute;
  right: 3%;
  top: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-shadow: 0 0 5px #ffffff;
  cursor: pointer;
}

.activeTab {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
</style>
