<script>
import LoginPostRequest from "@/action/httprequests/jwt/Login.js";
import CookieUtil from "@/action/CookieUtil";
export default {
  name: "LoginPage",
  data() {
    return {
      login: null,
      password: null,
      errorMsg: null
    };
  },
  methods: {
    validateUser() {
      const { login, password } = this;
      LoginPostRequest.methods.logIn(login, password).then(status => {
        if (status === 403) {
          this.errorMsg = "Incorrect credentials";
        } else if (status === 200) {
          this.$store.dispatch("setModalState", false);
          CookieUtil.methods.setCookie(true);
        }
      });
    }
  }
};
</script>

<template>
  <div id="login" class="tabcontent">
    <form @submit.prevent="validateUser">
      <input
        type="text"
        id="loginInput"
        placeholder="username"
        class="forminput"
        v-model="login"
        required
      />
      <br />
      <input
        type="password"
        id="passwordInput"
        placeholder="password"
        class="forminput"
        v-model="password"
        required
      />
      <br />
      <input class="submit" type="submit" value="LOGIN" />
    </form>
    <p id="errormsg" v-if="this.errorMsg !== null">{{ this.errorMsg }}</p>
  </div>
</template>

<style scoped>
#login {
  width: 100%;
  height: auto;
}
#loginInput {
  background-image: url("../assets/login.png");
}
#passwordInput {
  background-position: 3% 60%;
  background-size: 35px;
  background-image: url("../assets/password.png");
}

.forminput {
  width: 80%;
  padding: 12px 14%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  background-position: 6% center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: white;
}

.submit {
  cursor: pointer;
  width: 200px;
  font-size: 200%;
  border: none;
  outline: none;
  color: white;
  background-color: #42b983;
  border-radius: 1px;
}

#errormsg{
  color: ghostwhite;
}
</style>
