<template>
  <div id="signup" class="tabcontent">
    <form @submit.prevent="registerUser">
      <input
        type="text"
        id="loginInput"
        placeholder="username"
        :class="{ unavailable: this.loginRed, available: this.loginGreen }"
        name="login"
        class="forminput"
        v-model="login"
        required
      />
      <br />
      <input
        type="password"
        id="passwordInput"
        placeholder="password"
        name="password"
        class="forminput"
        v-model="password"
        required
      />
      <br />
      <input
        type="password"
        id="confirmInput"
        placeholder="confirm password"
        class="forminput"
        v-model="confirmPassword"
        required
      />
      <br />
      <input
        type="email"
        id="emailInput"
        placeholder="e-mail"
        :class="{ unavailable: this.emailRed, available: this.emailGreen }"
        class="forminput"
        v-model="email"
        required
      />
      <br />
      <input class="submit" type="submit" value="SIGN UP" />
    </form>
    <p class="msg" v-if="this.response !== null">{{ this.response }}</p>
    <p class="msg" v-if="this.isLoginAvailable !== null">
      {{ this.isLoginAvailable }}
    </p>
    <p class="msg" v-if="this.isEmailAvailable !== null">
      {{ this.isEmailAvailable }}
    </p>
  </div>
</template>

<script>
import RegisterPostRequest from "@/action/httprequests/users/Register.js";
import CheckUsername from "@/action/httprequests/users/CheckLogin";
import CheckEmail from "@/action/httprequests/users/CheckEmail";
import _ from "lodash";
export default {
  name: "ModalRegisterPage",
  data() {
    return {
      login: null,
      password: null,
      confirmPassword: null,
      email: null,
      isLoginAvailable: null,
      isEmailAvailable: null,
      emailGreen: false,
      emailRed: false,
      loginGreen: false,
      loginRed: false,
      response: null
    };
  },
  watch: {
    login: function() {
      if (this.login.length === 0) {
        this.loginGreen = false;
        this.loginRed = false;
        this.isLoginAvailable = null;
      }
      this.debouncedCheckLogin();
    },
    email: function() {
      if (this.email.length === 0) {
        this.emailGreen = false;
        this.emailRed = false;
        this.isEmailAvailable = null;
      }
      this.debouncedCheckEmail();
    }
  },
  methods: {
    registerUser() {
      const { login, password, confirmPassword, email } = this;
      if (confirmPassword === password && this.loginGreen && this.emailGreen) {
        RegisterPostRequest.methods
          .register(login, password, email)
          .then(status => {
            if (status === 200) {
              this.response = "Account created";
            } else {
              this.response = "Error creating the account";
            }
          });
      } else this.response = "Passwords do not match or email/login taken";
    },
    checkEmail() {
      if (this.email !== null && this.email.length > 0) {
        CheckEmail.methods.checkEmail(this.email).then(response => {
          if (response) {
            this.isEmailAvailable = "Email available";
            this.emailRed = false;
            this.emailGreen = true;
          } else {
            this.isEmailAvailable = "Email unavailable";
            this.emailGreen = false;
            this.emailRed = true;
          }
        });
      }
    },
    checkLogin() {
      if (this.login !== null && this.login.length > 0) {
        CheckUsername.methods.checkUsername(this.login).then(response => {
          if (response) {
            this.isLoginAvailable = "Login available";
            this.loginRed = false;
            this.loginGreen = true;
          } else {
            this.isLoginAvailable = "Login unavailable";
            this.loginGreen = false;
            this.loginRed = true;
          }
        });
      }
    },
    debouncedCheckLogin: _.debounce(function() {
      this.checkLogin();
    }, 500),
    debouncedCheckEmail: _.debounce(function() {
      this.checkEmail();
    }, 500)
  }
};
</script>

<style scoped>
#signup {
  width: 100%;
  height: auto;
}
.forminput {
  width: 80%;
  padding: 12px 14%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  background-position: 6% center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: white;
}

.submit {
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  font-size: 200%;
  border: none;
  outline: none;
  color: white;
  background-color: #42b983;
  border-radius: 1px;
}

#loginInput {
  background-position: 5.2%;
  background-image: url("../assets/login.png");
}
#passwordInput {
  background-position: 2% 60%;
  background-size: 35px;
  background-image: url("../assets/password.png");
}
#confirmInput {
  background-position: 6% 55%;
  background-image: url("../assets/confirm.png");
}
#emailInput {
  background-image: url("../assets/email.png");
}

.msg {
  color: ghostwhite;
}

.unavailable {
  box-shadow: 0 0 10px #ab0000;
}

.available {
  box-shadow: 0 0 10px #2bb12b;
}
</style>
