<template>
  <body>
    <div id="home">
      <div id="contentwrapper">
        <header id="navbar">
          <div id="logowrapper">
            <router-link to="/" id="logolink" class="navbutton"
              ><img src="@/assets/logo.png" id="logo"
            /></router-link>
          </div>
          <div id="searchbar">
            <input
              v-on:keyup.enter="sendSearchRequest"
              v-model="searchQuery"
              id="searchfield"
              maxlength="50"
              type="text"
              placeholder="Search"
            />
          </div>
          <div id="navbuttons">
            <router-link
              v-if="getUserLoginStatus"
              id="notificationlink"
              to="/notifications"
              class="navbutton"
            >
              <img
                :class="{ notificationactive: getNotifications }"
                src="@/assets/notification.png"
                id="notificationimg"
              />
            </router-link>
            <router-link
              v-if="getUserLoginStatus"
              id="followedlink"
              to="/followed"
              class="navbutton"
            >
              FOLLOWED
            </router-link>
            <p
              id="accountButton"
              class="navbutton"
              @click="determineAccountButtonBehavior"
            >
              ACCOUNT
              <img
                v-if="getUserLoginStatus"
                v-bind:class="{ rotatedarrow: showAccountMenu }"
                id="uparrow"
                src="@/assets/uparrow.png"
              />
            </p>
          </div>
        </header>
        <div id="app">
          <AccountMenu
            v-on-clickaway="away"
            v-if="showAccountMenu"
            @closeAccountMenu="showAccountMenu = false"
          ></AccountMenu>
          <LoginRegisterModal
            v-if="this.$store.getters.getModalState"
          ></LoginRegisterModal>
          <router-view />
        </div>
      </div>
      <footer id="footer">
        <p id="footnote">
          Video game data provided by
          <a id="rawglink" href="https://rawg.io"> rawg.io </a>
        </p>
      </footer>
    </div>
  </body>
</template>

<script>
import LoginRegisterModal from "@/components/LoginRegisterModal.vue";
import AccountMenu from "@/components/AccountMenu.vue";
import GamesPaged from "@/action/httprequests/games/GamesPaged";
import GetNotifications from "@/action/httprequests/users/GetNotifications";

import { mixin as clickaway } from "vue-clickaway";
export default {
  name: "appproper",
  mixins: [clickaway],
  components: {
    LoginRegisterModal,
    AccountMenu
  },
  data() {
    return {
      showAccountMenu: false,
      searchQuery: "",
      test: true
    };
  },
  mounted() {
    if (this.getUserLoginStatus) {
      GetNotifications.methods.getNotifications();
      setInterval(() => GetNotifications.methods.getNotifications(), 3600000);
    }
  },
  computed: {
    getUserLoginStatus() {
      return this.$cookies.get("isUserLoggedIn") != null;
    },
    getNotifications() {
      return this.$store.getters.getNotifications.count > 0;
    }
  },
  methods: {
    determineAccountButtonBehavior() {
      if (!this.getUserLoginStatus) {
        this.$store.dispatch("setModalState", true);
      } else {
        if (this.showAccountMenu === false) {
          this.showAccountMenu = true;
        } else {
          this.showAccountMenu = false;
        }
      }
    },
    sendSearchRequest() {
      this.$router.push({
        path: "/search",
        query: { query: this.searchQuery }
      });
      GamesPaged.methods.getGames(
        1,
        20,
        this.searchQuery,
        this.$store.getters.getParamObj.genres,
        this.$store.getters.getParamObj.stores,
        this.$store.getters.getParamObj.tba,
        this.$store.getters.getParamObj.excludeReleased
      );
    },
    away() {
      this.showAccountMenu = false;
    },
    closeModal() {
      this.$store.dispatch("setModalState", false);
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

#home {
  height: 100%;
}
#app {
  display: flex;
  height: 85%;
  width: 100%;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #2c3e50;
}

html,
body {
  margin: 0;
  background-color: #0b0c10;
  height: 100%;
  width: 100%;
}

#navbar {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
  background: linear-gradient(
    7deg,
    rgba(37, 37, 55, 1) 0%,
    rgba(22, 22, 22, 1) 100%
  );
}

#navbuttons {
  position: absolute;
  right: 0;
  width: 20%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navbutton {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Roboto", serif;
  justify-self: center;
  text-shadow: 0 0 1px white;
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbutton:hover {
  text-shadow: 0 0 5px #ffffff;
}

#followedlink {
  margin-left: 3%;
  justify-self: center;
  align-self: center;
}

#logo {
  width: auto;
  height: 100%;
}

#logowrapper {
  align-content: center;
  justify-content: center;
  height: 100%;
  width: auto;
  margin: 0px 30px 0px;
}

#searchfield {
  background-image: url("assets/search.png");
  background-position: 0.5% center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: white;
  border-style: hidden;
  padding-left: 30px;
  border-radius: 50px;
  width: 100%;
  height: 35%;
}

#searchfield:focus {
  box-shadow: 0 0 10px #ffffff;
  background-color: white;
  outline: none;
  border-style: hidden;
}

#searchbar {
  display: flex;
  align-items: center;
  text-align: center;
  width: 26.5%;
  height: 100%;
}

#accountButton {
  justify-self: center;
  align-self: center;
  margin-left: 5%;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgb(22, 22, 22);
  color: white;
  height: 40px;
}

#footnote {
  color: #e0e0eb;
  text-align: center;
}

#rawglink {
  color: white;
}

#uparrow {
  align-self: center;
  justify-self: center;
  height: 10%;
  width: 10%;
}

#contentwrapper {
  width: 100%;
  min-height: calc(100vh - 40px);
}

#notificationimg {
  border-radius: 2px;
  margin-top: 17px;
  align-self: center;
  justify-self: center;
  height: 30px;
  width: 35px;
}

.notificationactive {
  background-color: #ff0089;
}

.rotatedarrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
</style>
